@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    font-weight: 300;
    color: black;
    font-family: 'Familjen Grotesk', sans-serif;
}


.row{
    max-width: 1300px;
    margin: 0 auto 0 auto; 
    
}

header{
    background-position:right;
    background-size: cover;
    height: 100vh;
    color: black;
    background-attachment: fixed;
}

.searc{
    padding-left: 20px;
}

.main-nav{
    float: right;
    
}
.sub-nav {
    padding: 0px 40px 0px;
    display: flex;
    gap: 30px;
}
.sub-nav li{
    list-style: none;
    margin-top: 20px;
    font-size: 15px;
    text-transform: capitalize;
    color: black;
}
.sub-nav a{
    text-decoration: none;
    
}
.sub-nav a:hover{
    text-decoration: none;
    border-bottom: 1px solid black;
}

.dropdown {
    position:relative;
    left: -20%;
    display: none;
}



.search{
    border: 1px solid black;
    padding: 10px 20px 10px;
    width: 20%;
    position: absolute;
    border: 1px solid white;
    top: 3%;
    background-color: rgb(235, 233, 233);
    outline: none;
    border-radius: 2px;
}


.rat{
    width: 80px;
    position: absolute;
    text-align: center;
    left: 45%;
}


.container{
    padding: 0px 100px 0px;
    margin-top: 80px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.main{
    text-align: left;
    color: white;
    background-color: rgb(224, 153, 20);
    padding: 0px 20px 0px;
}

/* tr{
} */

th{
    padding: 5px;
    text-align: left;
}


td{
    padding-top: 20px;  
}

.product{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
}

.product a{
    text-decoration: none;
    color: orange;
}

.product span{
    font-size: 11px;
}

.no{
    outline: none;
    width: 40px;
    height: 30px;

}

.prod-img{
    width: 100px;
}

.total{
    display: flex;
    justify-content: flex-end;
    
}

.total table{
    border-top: 3px solid orange;
    width: 100%;
    max-width: 250px;
    text-align: left;
    margin-left: 40px;
    
}

th:last-child{
    text-align: right;
}

td:last-child{
    text-align: right;
}








footer{
    background-color: black;
    color: grey;
    padding-top: 20px;
    margin-top: 30px;
}

.footer-logo{
    width: 100px;
}

.group-1 p{
    text-transform: capitalize;
    margin-top: 30px;
    margin-left: 40px;
}


.email-box{
    margin-left: 30px;
    margin-top: 10px;
    background-color: transparent;
    padding: 10px 30px;
    outline: none;
    border: 1px solid grey;
    color:grey;
}

.last-details{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 1px solid grey;
}
.st{
    display: flex;
    text-transform: capitalize;
}
.st li{
    margin-left: 30px;
}

.copyr{
    margin-right: 20px
}
.privacy{
    margin-right: 150px;
}
.link{
    text-decoration: none;
    border: 1px solid white;
    color: gray;
    padding: 10px 30px;
    border-radius: 100px;
}


