@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    font-weight: 300;
    color: black;
    font-family: 'Familjen Grotesk', sans-serif;
}


.row{
    max-width: 1300px;
    margin: 0 auto 0 auto; 
    
}




header{
    background-image:url(imgs/pexels-madvortex-9214280.jpg);
    background-position:right;
    background-size: cover;
    height: 100vh;
    color: white;
    background-attachment: fixed;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav{
    float: right;
    
}
.sub-nav {
    display: flex;
    gap: 30px;
}

.sub-nav a{
    text-decoration: none;
}

.sub-nav li{
    list-style: none;
    /* margin-left: 30px;
    margin-top: 20px; */
    font-size: 18px;
    text-transform: capitalize;
    color: black;
}

.dropdown {
    position:relative;
    left: -20%;
    display: none;
}



.search{
    padding: 10px;
    width: 20%;
    /* position: absolute; */
    border: 1px solid white;
    /* top: 3%; */
    background-color: transparent;
    outline: none;
    
}

.rat{
    width: 80px;
    /* position: absolute; */
    text-align: center;
    /* left: 45%; */
}

.main-content{
    position: absolute;
    top: 40%;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.91);
}

.main-shop{
    margin-top: 20px;
}
.shop{
    background-color:transparent;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid black;
    color: black;
    transition: 0.5s;
    
    
}
.shop:hover{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    
    
}


.first-section{
    padding-top: 50px;
    background-color: #f0f0f0;
    
}

h2{
    text-transform: uppercase;
    
}

.first-row{
   margin-top: 30px;
}
.shoe-card{
    display:inline-block;
    margin-left: 1px;
    background-color: white;
    padding: 30px 10px 30px;
    margin-bottom: 0px;
}
.shoes-row-1{
    width: 300px;
    transition: 1s;
    
}
.shoes-row-1:hover{
    transform: scale(2.25);
    transform: rotateX(10deg) rotateZ(-20deg);
}


.buy-now{
    color: black;
/*    transition: 1.5;*/
    margin-top: 50px;
    font-style: oblique;
    
}
.buy-now:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 0px 1px;
}

button{
    padding: 15px 25px;
    background-color: black;
    color: white;
    position: relative;
    left: 44%;
    margin-top: 30px;
    border: none;
}
button:hover{
    padding: 15px 25px;
    background-color: #4b4b4b;
    color: white;
    position: relative;
    left: 44%;
    margin-top: 30px;
}

.second-row{
    padding-top: 25px;
     
}

h3{
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 35px
    
}

.third-row{
    padding-top: 25px;
    margin-top: 100px;
    background-color: white;
    width: 100%;
}

.third-shoe-card{
     display:inline-block;
    margin-left: 1px;
    padding: 30px 10px 30px;
    margin-bottom: 0px;
}

.third-shoes-row-1{
     width: 400px;
}

.third-shoe-card a{
    color: black;
   
}
.third-shoe-card p{
    margin-top: 30px;
}

.blog{
   margin-top: 100px;
}

.blog-post{
    margin-left: 40px;
}

.image-topic{
    width: 600px;
    
}

.blog-topic{
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.see-more{
    margin-top: 30px;
    
}

.see-link{
    color: black;
}

footer{
    background-color: black;
    color: grey;
    padding-top: 30px;
}

.footer-logo{
    width: 100px;
}

.group-1 p{
    text-transform: capitalize;
    margin-top: 30px;
    margin-left: 40px;
}


.email-box{
    margin-left: 30px;
    margin-top: 10px;
    background-color: transparent;
    padding: 10px 30px;
    outline: none;
    border: 1px solid grey;
    color:grey;
}

.last-details{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 1px solid grey;
}
.st{
    display: flex;
    text-transform: capitalize;
}
.st li{
    margin-left: 30px;
}

.copyr{
    margin-right: 20px
}
.privacy{
    margin-right: 150px;
}
.link{
    text-decoration: none;
    border: 1px solid white;
    color: gray;
    padding: 10px 30px;
    border-radius: 100px;
}




















































    @media screen and (max-width: 800px){
        
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    font-weight: 300;
    color: black;
    font-family: 'Familjen Grotesk', sans-serif;
}


.row{
    max-width: 1300px;
    margin: 0 auto 0 auto; 
    
}


header{
    background-image:url(imgs/pexels-madvortex-9214280.jpg);
    background-position:right;
    background-size: cover;
    height: 100vh;
    color: white;
    background-attachment: fixed;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav{
    float: right;
    
}
.sub-nav {
    display: flex;
    gap: 30px;
}

.sub-nav a{
    text-decoration: none;
}

.sub-nav li{
    display: none;
    list-style: none;
    /* margin-left: 30px;
    margin-top: 20px; */
    font-size: 18px;
    text-transform: capitalize;
    color: black;
}

.dropdown {
    position:relative;
    left: -20%;
    display: none;
}



.search{
    padding: 10px;
    width: 20%;
    /* position: absolute; */
    border: 1px solid white;
    /* top: 3%; */
    background-color: transparent;
    outline: none;
    
}

.rat{
    width: 80px;
    /* position: absolute; */
    text-align: center;
    /* left: 45%; */
}

.main-content{
    position: absolute;
    top: 40%;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.91);
}

.main-shop{
    margin-top: 20px;
}
.shop{
    background-color:transparent;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid black;
    color: black;
    transition: 0.5s;
    
    
}
.shop:hover{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    
    
}


.first-section{
    padding-top: 50px;
    background-color: #f0f0f0;
    
}

h2{
    text-transform: uppercase;
    
}

.first-row{
   margin-top: 30px;
}
.shoe-card{
    display:inline-block;
    margin-left: 30px;
    background-color: white;
    padding: 30px 10px 30px;
    margin-bottom: 10px;
}
.shoes-row-1{
    width: 300px;
    transition: 1s;
    
}
.shoes-row-1:hover{
    transform: scale(2.25);
    transform: rotateX(10deg) rotateZ(-20deg);
}


.buy-now{
    color: black;
/*    transition: 1.5;*/
    margin-top: 50px;
    font-style: oblique;
    
}
.buy-now:hover{
    background-color: white;
    color: black;
    box-shadow: 3px 3px 0px 1px;
}

button{
    padding: 15px 25px;
    background-color: black;
    color: white;
    position: relative;
    left: 30%;
    margin-top: 30px;
    margin-right: 30px;
    border: none;
}
button:hover{
    padding: 15px 25px;
    background-color: #4b4b4b;
    color: white;
    position: relative;
    left: 44%;
    margin-top: 30px;
}

.second-row{
    padding-top: 25px;
     
}

h3{
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 35px
    
}

.third-row{
    padding-top: 25px;
    margin-top: 100px;
    background-color: white;
    width: 100%;
}

.third-shoe-card{
     display:inline-block;
    margin-left: 1px;
    padding: 30px 10px 30px;
    margin-bottom: 0px;
}

.third-shoes-row-1{
     width: 300px;
}

.third-shoe-card a{
    color: black;
   
}
.third-shoe-card p{
    margin-top: 30px;
}

.blog{
   margin-top: 100px;
}

.blog-post{
    margin-left: 40px;

}

.image-topic{
    width: 300px;
    
}

.blog-topic{
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.see-more{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.see-link{
    color: black;
}

footer{
    background-color: black;
    color: grey;
    padding-top: 30px;
}

.footer-logo{
    width: 100px;
}

.group-1 p{
    text-transform: capitalize;
    margin-top: 30px;
    margin-left: 40px;
}


.email-box{
    margin-left: 30px;
    margin-top: 10px;
    background-color: transparent;
    padding: 10px 30px;
    outline: none;
    border: 1px solid grey;
    color:grey;
}

.last-details{
    display: none;
    list-style: none;
    justify-content: space-between;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 1px solid grey;
}
.st{
    display: flex;
    text-transform: capitalize;
}
.st li{
    margin-left: 30px;
}

.copyr{
    margin-right: 20px
}
.privacy{
    margin-right: 150px;
}
.link{
    text-decoration: none;
    border: 1px solid white;
    color: gray;
    padding: 10px 30px;
    border-radius: 100px;
}




    }